/* style.css */
.header {
  position: fixed;         /* mindig a képernyő tetején marad */
  top: 0;
  left: 50%;
  transform: translate(-50%,0);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:var(--color-primary-opacity);
  padding: 1rem ;
  max-width: 800px;
  margin-top: 10px ;
}
.goHome{
  color: var(--color-bg);
  cursor:pointer;
}


.header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

button {
  cursor: pointer;
}
.header-right div{
    display: flex;
    align-items: center;
    gap:5px
}
.avatar{
 
  color: var(--color-accent);
  cursor:pointer;
}
.header-right div button{
    font-size: 0.8rem;
   
}
