.recipeForm{
  color:var(--color-accent);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:1rem;
position: relative;
}
.cancel{
  position: absolute;
  top:5px;
  left:5px;
 
}
form {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  max-width: 400px;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  color: var(--color-text);
  font-size: 1rem;
}


input, textarea {
  padding: 1rem;
  border: 2px solid var(--color-primary);
  border-radius: 0.6rem;
  font-family: inherit;
  font-size: 1rem;
  color: var(--color-text);
  resize: vertical;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
textarea:focus,
input[type="file"]:focus {
  border-color: var(--color-accent);
  outline: none;
  box-shadow: 0 0 5px var(--color-accent);
}

textarea {
  min-height: 100px;
  font-family: inherit;
}

button[type="submit"] {
  background-color: var(--color-accent);
  color: var(--color-bg);
  border: none;
  padding: 0.75rem;
  border-radius: 0.75rem;
  font-weight: 700;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:disabled{
  background-color: var(--color-disabled);
  cursor: not-allowed;
}
button[type="submit"]:hover {
  background-color: var(--color-secondary);
}

::placeholder {
  color: var(--color-primary-opacity);
  font-style: italic;
}
.addIngredient,.removeIngredient{
  color:var(--color-accent);
  cursor: pointer;
}
.ingredients{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:5px;
}
.ingredient{
  width: 100%;
 /* border:1px solid red;*/
  display: flex;
}
.ingredient input{
  flex: 1;
}
/************************/
